<div
  class="w-full h-screen bg-gradient-to-r from-cyan-500 to-blue-500 flex justify-center content-center items-cente">
  <div
    class="rotating-text-wrapper flex flex-col justify-center content-center items-center">
    <h2
      class="text-center text-2xl md:text-5xl text-white m-0 p-8 md:p-14 rounded-md">
      Welcome Home
    </h2>
    <h2
      class="text-center text-2xl md:text-5xl text-white m-0 p-8 md:p-14 rounded-md">
      For Checking the Table Data
    </h2>
    <h2
      class="text-center text-2xl md:text-5xl text-white m-0 p-8 md:p-14 rounded-md">
      Please check the Dashboard link
    </h2>
  </div>
</div>
